{% extends 'basic_page.html' %}

{% block content %}
     <main role="main" class="container">
         <div class="jumbotron">
            <form action="{% url 'main_blog:edit_post' slug=post.slug %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors  %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        <p>{{ field.label_tag }}</p>
                        {{ field }}
                    </div>
                {% endfor %}
              <button type="submit" class="btn btn-primary">изменить</button>
            </form>
         </div>
     </main>
{% endblock %}